<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="base :: page"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title> Login </title>
    </head>
    <body>

        <div  th:fragment="content">
            <br />
            <div>
                <div class="card">
                    <div class="card-header">
                        Authentication
                    </div>
                    <div class="card-block">
                        <form th:action="@{/login}" method="post">
                            <div th:if="${param.error}">
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}">
                                You have been logged out.
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">User name</label>
                                <div class="col-sm-10">
                                    <input type="text" required="required" name="username" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" required="required" name="password" class="form-control" id="inputPassword" placeholder="Password" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <input class="btn btn-primary" type="submit" value="Sign In"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
